<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodoctor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="" alt="Tu bedzie zdjecie">
        </div>
        <div class="nav-list">
            <div class="searchtool">
                <img src="" alt="" class="magnifying-glass">
                <p class="placeholder">placeholder</p>
            </div>
            <a href="test">[TEMPLATE]</a>
            <a href="test2">[TEMPLATE]</a>
            <a href="test3">[TEMPLATE]</a>
        </div>
    </div>
    <div class="main-container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vero, culpa aliquid quaerat reprehenderit laudantium facere voluptates? Ex vero obcaecati vel accusamus corporis magni quam explicabo possimus? Illo, molestiae doloribus?</div>
    <div class="footer"></div>
</body>
</html>